
:root {
    --kuning: #F0BF6C;
    --abu: #34353A;
    --card: #3D3E42;
    --background: #31333B;
    --red: #4C2020;
    --abu-muda: #A1A5B7;
}

html, body {
    background-color: var(--background);
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.fullheight {
    height: 100%;
}

.notosans {
    font-family: "Noto Sans", sans-serif;
}

.breeserif {
    font-family: "Bree Serif", serif;
}

div {
    display: flex;
    position: relative;
}

a {
    text-decoration: none;
    color: unset;
    display: flex;
}

section {
    width: 100%;
    display: flex;
    position: relative;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.social {
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 2rem;
    bottom: 3.5rem;
}

.garis-social {
    background-color: var(--kuning);
    width: 0.15rem;
    height: 6rem;
}

.social-instagram {
    width: 1.8rem;
    height: 1.8rem;
}

.social-linkedin {
    width: 1.5rem;
    height: 1.5rem;
}

.social-github {
    width: 1.8rem;
    height: 1.8rem;
}

.avatar-abit {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
}

.dekorasi {
    flex-direction: column;
    font-weight: 900;
    font-size:  5rem;
    overflow: hidden;
    text-wrap: nowrap;
    color: var(--kuning);
    opacity: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-style: italic;
    transform: translateY(2.5rem);
}

.dekorasi1 {
    transform: translateX(-50rem) translateY(2rem);
}

.dekorasi2 {
    transform: translate(-20rem);
}

.halaman1 {
    background-color: var(--abu);
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2);
    overflow: clip;
}

.introduction-header {
    gap: 1rem;
    align-items: center;
}

.introduction2 {
    font-size: 3.5rem;
    color: var(--kuning);
}

.introduction {
    font-size: 1.5rem;
    color: white;
    left: 6rem;
    top: 0;
    bottom: 0;
    position: absolute;
    justify-content: center;
    align-items: start;
    width: 25rem;
}

.contact-me-button {
    border: 0.15rem solid var(--kuning);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--kuning);
    margin-top: 1rem;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1rem;
}

.contact-me-button:hover {
    background-color: var(--kuning);
    color: white;
}

.dekorasi-dot {
    position: absolute;
    top: -5rem;
    right: 5rem;
    width: 10rem;
}

.navigasi {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    justify-content: center;
    gap: 0.5rem;
    color: white;
}

.navigasi a {
    padding: 0.5rem 2rem;
}

.navigasi a:hover {
    color: var(--kuning);
}
.about {
    flex-direction: column;
    gap: 1.5rem;
}
.about-section {
    padding: 7.5rem 8rem;
}
.about-header {
    color: var(--kuning);
    font-size: 3rem;
}
.about-garis {
    padding-top: 1rem;
}
.about-garis-box {
    width: 4.5rem;
    height: 0.25rem;
    background-color: var(--kuning);
}
.about-content {
    gap: 1.5rem;
}
.about-text {
    font-size: 1.5rem;
    color: white;
    text-align: justify;
}
.edu-section {
    padding: 5rem 7.5rem 7.25rem 7.5rem;
    gap: 3.75rem;
    flex-direction: column;
}
.work-section {
    padding: 1rem 7.5rem 7.25rem 7.5rem;
    gap: 3.75rem;
    flex-direction: column;
}
.org-section {
    padding: 5rem 7.5rem 7.25rem 7.5rem;
    gap: 3.75rem;
    flex-direction: column;
    background-color: var(--abu);
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2);
}
.dekorasi-dot2 {
    position: absolute;
    bottom: -5rem;
    right: 5rem;
    width: 10rem;
}
.edu-header {
    font-size: 3rem;
    color: var(--kuning);
}
.edu-content {
    flex-direction: column;
    padding-left: 7.5rem;
}
.edu-item {
    gap: 1.5rem;
    height: 10rem;
}
.edu-prefix {
    gap: 0.5rem;
    flex-direction: column;
    align-items: end;
}
.edu-year-img {
    position: absolute;
}
.edu-year-teks {
    font-size: 1.5rem;
    color: white;
    align-items: center;
    margin-right: 3rem;
}
.year-text {
    margin-left:  1.5rem;
}
.edu-garis {
    background-color: white;
    width: 0.25rem;
    flex: 1;
    margin-right: 1.8rem;
}
.edu-item-content {
    flex-direction: column;
    gap: 0.5rem;
    width: 30rem;
}
.university {
    color: white;
    font-size: 2.25rem;
    text-wrap: nowrap;
    font-weight: 500;
}
.edu-desc {
    color: white;
    opacity: 65%;
    font-size: 1.5rem;
}
.skill-sec {
    flex-direction: column;
    padding: 6rem 6rem;
    gap: 7rem;
    justify-content: center;
    align-items: center;
}
.skill-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.skill-header {
    font-size: 3rem;
    color: var(--kuning);
}
.skill-card {
    flex-direction: column;
    height: 12rem;
    width: 12rem;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    background-color: var(--card);
    border-radius:1.5rem ;
    padding: 2rem;
    text-align: center;
    gap: 1.5rem;
}
.skill-img {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
}
.skill-content {
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.message {
    padding: 4.3rem;
    background-color: var(--red);
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.15);
}
.header-text {
    font-size: 3rem;
    color: white;
}

.contact-section {
    flex-direction: column;
    padding: 2rem 0;
}

.contact-header {
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
    font-size: 2rem;
    transform: translateY(50%);
}

.contact-footer {
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: white;
    font-size: 2rem;
    transform: translateY(-50%);
}

.contact-content {
    padding: 4rem;
    flex-direction: column;
    gap: 3rem;
}

.contact-garis {
    height: 0.25rem;
    background-color: var(--kuning);
    flex: 1;
}

.contact-background {
    background-color: var(--kuning);
    opacity: 10%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contact-instagram {
    width: 1.8rem;
    height: 1.8rem;
}

.contact-linkedin {
    width: 1.5rem;
    height: 1.5rem;
}

.contact-github {
    width: 1.8rem;
    height: 1.8rem;
}

.contact-social {
    gap: 1rem;
}

.contact-buttons {
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.contact-button {
    background-color: var(--abu);
    border-radius: 0.5rem;
    color: var(--kuning);
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.contact-img {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    min-width: 30rem;
    gap: 1rem;
}

.contact-field {
    flex-direction: column;
    gap: 0.25rem;
    color: white;
}

.contact-send-button {
    background-color: var(--abu);
    border-radius: 0.5rem;
    color: var(--kuning);
    padding: 0.5rem 1.5rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.contact-input {
    background-color: var(--abu);
    border-radius: 0.5rem;
    color: var(--kuning);
    padding: 0.7rem 1rem;
    border: 0;
    font-size: 1rem;
    outline: none;
}

.contact-text-area {
    background-color: var(--abu);
    border-radius: 0.5rem;
    color: var(--kuning);
    padding: 0.7rem 1rem;
    border: 0;
    font-size: 1rem;
    outline: none;
    min-width: 30rem;
}

.contact-send-button:hover {
    background-color: var(--kuning);
    color: white;
}

.contact-form-wrapper {
    justify-content: center;
    align-items: center;
}

.message {
    height: 20rem;
}

.text-box {
    gap: 1rem;
}

.message-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 6rem;
    width: 40rem;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;

}
.teks-banyak {
    color: rgba(255, 255, 255, 0.5);
}

.teks-dream {
    color: white;
    font-style: italic;
}

.message-text {
    flex-direction: column;
    gap: 0.5rem;
}

p {
    margin: 0;
    padding: 0;
}

.font-kuning {
    font-weight: bold;
    color: var(--kuning);
}

.message-garis {
    width: 7rem;
    height: 0.15rem;
    background-color: var(--kuning);
    transform: translateY(1rem);
}

.teks-bawah {
    gap: 1rem;
    color: rgba(255, 255, 255, 0.65);
}

.garis-teks {
    width: 2rem;
    height: 0.15rem;
    background-color: var(--kuning);
    transform: translateY(0.8rem);
}

.page-footer {
    padding: 2rem 0 4rem 0;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--kuning);
}

.message-frame-gambar {
    background-color: var(--kuning);
    border-radius: 0.5rem 0 0 0.5rem;
    height: 20rem;
    width: 25rem;
}

.gambar-abit2 {
    position: absolute;
    left: -5rem;
    bottom: 0rem;
    height: 25rem;
}

.message-gambar {
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}